In [74]:
import pandas as pd
import requests
c = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2018&p=.htm').content)
c[1]

,0,1,2,3,4,5,6,7
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %
1,1,Avengers: Infinity War,BV,"$2,048.4",$678.8,33.1%,"$1,369.5",66.9%
2,2,Black Panther,BV,"$1,346.9",$700.1,52.0%,$646.9,48.0%
3,3,Jurassic World: Fallen Kingdom,Uni.,"$1,309.5",$417.7,31.9%,$891.8,68.1%
4,4,Incredibles 2,BV,"$1,242.8",$608.6,49.0%,$634.2,51.0%
5,5,Aquaman,WB,"$1,146.9",$334.8,29.2%,$812.1,70.8%
6,6,Bohemian Rhapsody,Fox,$889.3,$216.0,24.3%,$673.4,75.7%
7,7,Venom (2018),Sony,$855.0,$213.5,25.0%,$641.5,75.0%
8,8,Mission: Impossible - Fallout,Par.,$791.1,$220.2,27.8%,$571.0,72.2%
9,9,Deadpool 2,Fox,$778.9,$318.5,40.9%,$460.5,59.1%
10,10,Fantastic Beasts: The Crimes of Grindelwald,WB,$653.7,$159.6,24.4%,$494.1,75.6%
11,11,Ant-Man and the Wasp,BV,$622.7,$216.6,34.8%,$406.0,65.2%
12,12,Ready Player One,WB,$582.9,$137.7,23.6%,$445.2,76.4%
13,13,Operation Red Sea,WGUSA,$579.2,$1.5,0.3%,$577.7,99.7%
14,14,Detective Chinatown 2,WB,$544.1,$2.0,0.4%,$542.1,99.6%
15,15,The Meg,WB,$530.2,$145.4,27.4%,$384.8,72.6%
16,16,Hotel Transylvania 3: Summer Vacation,Sony,$528.6,$167.5,31.7%,$361.1,68.3%
17,17,Ralph Breaks the Internet,BV,$527.5,$201.0,38.1%,$326.5,61.9%
18,18,Dr. Seuss' The Grinch (2018),Uni.,$511.3,$270.6,52.9%,$240.7,47.1%
19,19,Bumblebee,Par.,$462.5,$127.2,27.5%,$335.3,72.5%
20,20,A Star is Born (2018),WB,$433.8,$215.2,49.6%,$218.6,50.4%
21,21,Rampage (2018),WB (NL),$428.0,$101.0,23.6%,$327.0,76.4%
22,22,Mamma Mia! Here We Go Again,Uni.,$394.7,$120.6,30.6%,$274.1,69.4%
23,23,Solo: A Star Wars Story,BV,$392.9,$213.8,54.4%,$179.2,45.6%
24,24,Spider-Man: Into The Spider-Verse,Sony,$372.6,$189.9,51.0%,$182.7,49.0%
25,25,Fifty Shades Freed,Uni.,$371.9,$100.4,27.0%,$271.5,73.0%
26,26,The Nun,WB (NL),$365.6,$117.5,32.1%,$248.1,67.9%
27,27,Monster Hunt 2,LGF,$361.7,$706k,0.2%,$361.0,99.8%
28,28,Peter Rabbit,Sony,$351.3,$115.3,32.8%,$236.0,67.2%
29,29,Mary Poppins Returns,BV,$348.8,$171.8,49.3%,$176.9,50.7%
...,...,...,...,...,...,...,...,...
273,273,I Am Not a Witch,FM,$50.9k,$50.9k,100.0%,NaN,0.0%
274,274,Racer & the Jailbird,Super,$46.3k,$46.3k,100.0%,NaN,0.0%
275,275,Rodin,Cohen,$44.3k,$44.3k,100.0%,NaN,0.0%
276,276,What Will People Say,KL,$44.2k,$44.2k,100.0%,NaN,0.0%
277,277,Oolong Courtyard,CL,$37.7k,$37.7k,100.0%,NaN,0.0%
278,278,Girls vs Gangsters,WGUSA,$37.1k,$37.1k,100.0%,NaN,0.0%
279,279,"No Date, No Signature",Distrib.,$36.4k,$36.4k,100.0%,NaN,0.0%
280,280,A Ciambra,IFC,$31.0k,$31.0k,100.0%,NaN,0.0%
281,281,The Apparition (2018),MBox,$28.3k,$28.3k,100.0%,NaN,0.0%
282,282,The Charmer,FM,$26.2k,$26.2k,100.0%,NaN,0.0%
283,283,Elliot: The Littlest Reindeer,Scre.,$24.3k,$24.3k,100.0%,NaN,0.0%
284,284,The Workshop,Strand,$22.1k,$22.1k,100.0%,NaN,0.0%
285,285,Loving Pablo,Uni.,$22.0k,$22.0k,100.0%,NaN,0.0%
286,286,A Paris Education,KL,$21.6k,$21.6k,100.0%,NaN,0.0%
287,287,Tag Along: The Devil Fish,CL,$20.7k,$20.7k,100.0%,NaN,0.0%
288,288,Gabriel and the Mountain,Strand,$18.4k,$18.4k,100.0%,NaN,0.0%
289,289,Marlina the Murderer in Four Acts,Icar.,$17.8k,$17.8k,100.0%,NaN,0.0%
290,290,How Victor 'The Garlic' Took Alexey 'The Stud'...,CARUSEL,$13.0k,$13.0k,100.0%,NaN,0.0%
291,291,"Lou Andreas-Salomé, the Audacity to be Free",CLS,$12.9k,$12.9k,100.0%,NaN,0.0%
292,292,Let Yourself Go,Men.,$12.2k,$12.2k,100.0%,NaN,0.0%
293,293,The Escape,IFC,$12.1k,$12.1k,100.0%,NaN,0.0%
294,294,Hannah (2018),PDF,$11.7k,$11.7k,100.0%,NaN,0.0%
295,295,Souvenir,Strand,$11.4k,$11.4k,100.0%,NaN,0.0%
296,296,Furious (Legend of Kolovrat),CARUSEL,$10.0k,$10.0k,100.0%,NaN,0.0%
297,297,Beauty and the Dogs,Osci.,$8.9k,$8.9k,100.0%,NaN,0.0%
298,298,The Quake,Magn.,$6.2k,$6.2k,100.0%,NaN,0.0%
299,299,Edward II (2018 re-release),FM,$4.8k,$4.8k,100.0%,NaN,0.0%
300,300,El Pacto,Sony,$2.5k,$2.5k,100.0%,NaN,0.0%
301,301,The Swan,Synergetic,$2.4k,$2.4k,100.0%,NaN,0.0%
302,302,An Actor Prepares,Grav.,$1.7k,$1.7k,100.0%,NaN,0.0%

In [14]:
x = pd.read_html(c)
x[
Eighteen = x[1]
Eighteen['Year']  = 2018
Eighteen.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2018
1,1,Avengers: Infinity War,BV,"$2,048.4",$678.8,33.1%,"$1,369.5",66.9%,2018
2,2,Black Panther,BV,"$1,346.9",$700.1,52.0%,$646.9,48.0%,2018
3,3,Jurassic World: Fallen Kingdom,Uni.,"$1,309.5",$417.7,31.9%,$891.8,68.1%,2018
4,4,Incredibles 2,BV,"$1,242.8",$608.6,49.0%,$634.2,51.0%,2018

In [15]:
html_17 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2017&p=.htm').content)
Seventeen = html_17[1]
Seventeen['Year'] = 2017
Seventeen.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2017
1,1,Star Wars: The Last Jedi,BV,"$1,332.5",$620.2,46.5%,$712.4,53.5%,2017
2,2,Beauty and the Beast (2017),BV,"$1,263.5",$504.0,39.9%,$759.5,60.1%,2017
3,3,The Fate of the Furious,Uni.,"$1,236.0",$226.0,18.3%,"$1,010.0",81.7%,2017
4,4,Despicable Me 3,Uni.,"$1,034.8",$264.6,25.6%,$770.2,74.4%,2017

In [17]:
html_16 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2016&p=.htm').content)
Sixteen = html_16[1]
Sixteen['Year'] = 2016
Sixteen.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2016
1,1,Captain America: Civil War,BV,"$1,153.3",$408.1,35.4%,$745.2,64.6%,2016
2,2,Rogue One: A Star Wars Story,BV,"$1,056.1",$532.2,50.4%,$523.9,49.6%,2016
3,3,Finding Dory,BV,"$1,028.6",$486.3,47.3%,$542.3,52.7%,2016
4,4,Zootopia,BV,"$1,023.8",$341.3,33.3%,$682.5,66.7%,2016

In [23]:
html_15 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2015&p=.htm').content)
Fifteen = html_15[1]
Fifteen['Year'] = 2015
Fifteen.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2015
1,1,Star Wars: The Force Awakens,BV,"$2,068.2",$936.7,45.3%,"$1,131.6",54.7%,2015
2,2,Jurassic World,Uni.,"$1,671.7",$652.3,39.0%,"$1,019.4",61.0%,2015
3,3,Furious 7,Uni.,"$1,516.0",$353.0,23.3%,"$1,163.0",76.7%,2015
4,4,Avengers: Age of Ultron,BV,"$1,405.4",$459.0,32.7%,$946.4,67.3%,2015

In [24]:
html_14 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2014&p=.htm').content)
Fourteen = html_14[1]
Fourteen['Year'] = 2014
Fourteen.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2014
1,1,Transformers: Age of Extinction,Par.,"$1,104.1",$245.4,22.2%,$858.6,77.8%,2014
2,2,The Hobbit: The Battle of the Five Armies,WB (NL),$956.0,$255.1,26.7%,$700.9,73.3%,2014
3,3,Guardians of the Galaxy,BV,$773.3,$333.2,43.1%,$440.2,56.9%,2014
4,4,Maleficent,BV,$758.5,$241.4,31.8%,$517.1,68.2%,2014

In [25]:
html_13 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2013&p=.htm').content)
Thirteen = html_13[1]
Thirteen['Year'] = 2013
Thirteen.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2013
1,1,Frozen,BV,"$1,276.5",$400.7,31.4%,$875.7,68.6%,2013
2,2,Iron Man 3,BV,"$1,214.8",$409.0,33.7%,$805.8,66.3%,2013
3,3,Despicable Me 2,Uni.,$970.8,$368.1,37.9%,$602.7,62.1%,2013
4,4,The Hobbit: The Desolation of Smaug,WB (NL),$958.4,$258.4,27.0%,$700.0,73.0%,2013

In [26]:
html_12 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2012&p=.htm').content)
Twelve = html_12[1]
Twelve['Year'] = 2012
Twelve.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2012
1,1,Marvel's The Avengers,BV,"$1,518.8",$623.4,41.0%,$895.5,59.0%,2012
2,2,Skyfall,Sony,"$1,108.6",$304.4,27.5%,$804.2,72.5%,2012
3,3,The Dark Knight Rises,WB,"$1,084.9",$448.1,41.3%,$636.8,58.7%,2012
4,4,The Hobbit: An Unexpected Journey,WB (NL),"$1,021.1",$303.0,29.7%,$718.1,70.3%,2012

In [27]:
html_11 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2011&p=.htm').content)
Eleven = html_11[1]
Eleven['Year'] = 2011
Eleven.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2011
1,1,Harry Potter and the Deathly Hallows Part 2,WB,"$1,341.5",$381.0,28.4%,$960.5,71.6%,2011
2,2,Transformers: Dark of the Moon,P/DW,"$1,123.8",$352.4,31.4%,$771.4,68.6%,2011
3,3,Pirates of the Caribbean: On Stranger Tides,BV,"$1,045.7",$241.1,23.1%,$804.6,76.9%,2011
4,4,The Twilight Saga: Breaking Dawn Part 1,Sum.,$712.2,$281.3,39.5%,$430.9,60.5%,2011

In [28]:
html_10 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2010&p=.htm').content)
Ten = html_10[1]
Ten['Year'] = 2010
Ten.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2010
1,1,Toy Story 3,BV,"$1,067.0",$415.0,38.9%,$652.0,61.1%,2010
2,2,Alice in Wonderland (2010),BV,"$1,025.5",$334.2,32.6%,$691.3,67.4%,2010
3,3,Harry Potter and the Deathly Hallows Part 1,WB,$960.3,$296.0,30.8%,$664.3,69.2%,2010
4,4,Inception,WB,$828.3,$292.6,35.3%,$535.7,64.7%,2010

In [37]:
html_09 = pd.read_html(requests.get('https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=2009&p=.htm').content)
Nine = html_09[1]
Nine['Year'] = 2009
Nine.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2009
1,1,Avatar,Fox,"$2,777.2",$749.8,27.0%,"$2,027.5",73.0%,2009
2,2,Harry Potter and the Half-Blood Prince,WB,$934.4,$302.0,32.3%,$632.5,67.7%,2009
3,3,Ice Age: Dawn of the Dinosaurs,Fox,$886.7,$196.6,22.2%,$690.1,77.8%,2009
4,4,Transformers: Revenge of the Fallen,P/DW,$836.3,$402.1,48.1%,$434.2,51.9%,2009

In [39]:
movies = pd.concat([Eighteen, Seventeen, Sixteen, Fifteen, Fourteen, Thirteen, Twelve, Eleven, Ten, Nine])
movies.head()

,0,1,2,3,4,5,6,7,Year
0,Rank,Title (click to view),Studio* function MojoDrop1() { var number = do...,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,2018
1,1,Avengers: Infinity War,BV,"$2,048.4",$678.8,33.1%,"$1,369.5",66.9%,2018
2,2,Black Panther,BV,"$1,346.9",$700.1,52.0%,$646.9,48.0%,2018
3,3,Jurassic World: Fallen Kingdom,Uni.,"$1,309.5",$417.7,31.9%,$891.8,68.1%,2018
4,4,Incredibles 2,BV,"$1,242.8",$608.6,49.0%,$634.2,51.0%,2018

In [43]:
movies.columns = ['Rank', 'Title', 'Studio Abbreviation', 'Worldwide Gross', 'Domestic Gross', 'Domestic % of Worldwide', 'Overseas Total', 'Overseas % of Worldwide', 'Year']
movies.head()
movies.drop(0)

,Rank,Title,Studio Abbreviation,Worldwide Gross,Domestic Gross,Domestic % of Worldwide,Overseas Total,Overseas % of Worldwide,Year
1,1,Avengers: Infinity War,BV,"$2,048.4",$678.8,33.1%,"$1,369.5",66.9%,2018
2,2,Black Panther,BV,"$1,346.9",$700.1,52.0%,$646.9,48.0%,2018
3,3,Jurassic World: Fallen Kingdom,Uni.,"$1,309.5",$417.7,31.9%,$891.8,68.1%,2018
4,4,Incredibles 2,BV,"$1,242.8",$608.6,49.0%,$634.2,51.0%,2018
5,5,Aquaman,WB,"$1,146.9",$334.8,29.2%,$812.1,70.8%,2018
6,6,Bohemian Rhapsody,Fox,$889.3,$216.0,24.3%,$673.4,75.7%,2018
7,7,Venom (2018),Sony,$855.0,$213.5,25.0%,$641.5,75.0%,2018
8,8,Mission: Impossible - Fallout,Par.,$791.1,$220.2,27.8%,$571.0,72.2%,2018
9,9,Deadpool 2,Fox,$778.9,$318.5,40.9%,$460.5,59.1%,2018
10,10,Fantastic Beasts: The Crimes of Grindelwald,WB,$653.7,$159.6,24.4%,$494.1,75.6%,2018
11,11,Ant-Man and the Wasp,BV,$622.7,$216.6,34.8%,$406.0,65.2%,2018
12,12,Ready Player One,WB,$582.9,$137.7,23.6%,$445.2,76.4%,2018
13,13,Operation Red Sea,WGUSA,$579.2,$1.5,0.3%,$577.7,99.7%,2018
14,14,Detective Chinatown 2,WB,$544.1,$2.0,0.4%,$542.1,99.6%,2018
15,15,The Meg,WB,$530.2,$145.4,27.4%,$384.8,72.6%,2018
16,16,Hotel Transylvania 3: Summer Vacation,Sony,$528.6,$167.5,31.7%,$361.1,68.3%,2018
17,17,Ralph Breaks the Internet,BV,$527.5,$201.0,38.1%,$326.5,61.9%,2018
18,18,Dr. Seuss' The Grinch (2018),Uni.,$511.3,$270.6,52.9%,$240.7,47.1%,2018
19,19,Bumblebee,Par.,$462.5,$127.2,27.5%,$335.3,72.5%,2018
20,20,A Star is Born (2018),WB,$433.8,$215.2,49.6%,$218.6,50.4%,2018
21,21,Rampage (2018),WB (NL),$428.0,$101.0,23.6%,$327.0,76.4%,2018
22,22,Mamma Mia! Here We Go Again,Uni.,$394.7,$120.6,30.6%,$274.1,69.4%,2018
23,23,Solo: A Star Wars Story,BV,$392.9,$213.8,54.4%,$179.2,45.6%,2018
24,24,Spider-Man: Into The Spider-Verse,Sony,$372.6,$189.9,51.0%,$182.7,49.0%,2018
25,25,Fifty Shades Freed,Uni.,$371.9,$100.4,27.0%,$271.5,73.0%,2018
26,26,The Nun,WB (NL),$365.6,$117.5,32.1%,$248.1,67.9%,2018
27,27,Monster Hunt 2,LGF,$361.7,$706k,0.2%,$361.0,99.8%,2018
28,28,Peter Rabbit,Sony,$351.3,$115.3,32.8%,$236.0,67.2%,2018
29,29,Mary Poppins Returns,BV,$348.8,$171.8,49.3%,$176.9,50.7%,2018
30,30,A Quiet Place,Par.,$340.9,$188.0,55.1%,$152.9,44.9%,2018
...,...,...,...,...,...,...,...,...,...
317,317,Owl and the Sparrow,Wave,$170k,$47.1k,27.6%,$123k,72.4%,2009
318,318,Gigantic,FInd.,$166k,$103k,61.9%,$63.2k,38.1%,2009
319,319,Serbis,Reg.,$155k,$64.5k,41.6%,$90.6k,58.4%,2009
320,320,All the Best,Yash,$150k,$121k,80.6%,$29.1k,19.4%,2009
321,321,La Boheme,Emr.,$142k,$54.5k,38.2%,$88.0k,61.8%,2009
322,322,Not Forgotten,Anch.,$142k,$53.7k,37.8%,$88.3k,62.2%,2009
323,323,Daytime Drinking,Elev.,$137k,$5.0k,3.6%,$132k,96.4%,2009
324,324,Ballerina,FRun,$131k,$115k,87.1%,$17.0k,12.9%,2009
325,325,Treeless Mountain,Osci.,$124k,$60.3k,48.6%,$63.7k,51.4%,2009
326,326,Burma VJ,Osci.,$123k,$51.7k,41.8%,$71.8k,58.2%,2009
327,327,"Police, Adjective",IFC,$122k,$53.2k,43.6%,$68.8k,56.4%,2009
328,328,Gentlemen Broncos,FoxS,$118k,$114k,95.9%,$4.8k,4.1%,2009
329,329,No Impact Man,Osci.,$116k,$100k,86.0%,$16.3k,14.0%,2009
330,330,Absurdistan,FRun,$113k,$39.7k,35.0%,$73.6k,65.0%,2009
331,331,Sleep Dealer,Maya,$108k,$80.1k,74.5%,$27.4k,25.5%,2009
332,332,The Skeptic,IFC,$106k,$6.7k,6.3%,$99.5k,93.7%,2009
333,333,Five Minutes of Heaven,IFC,$87.9k,$15.7k,17.8%,$72.2k,82.2%,2009
334,334,Love N Dancing,Scre.,$73.8k,$47.8k,64.7%,$26.0k,35.3%,2009
335,335,Brighton Rock (re-issue),Rialto,$61.0k,$49.5k,81.2%,$11.5k,18.8%,2009
336,336,The Slammin' Salmon,Anch.,$60.4k,$41.6k,68.8%,$18.8k,31.2%,2009
337,337,Kal Kissne Dekha,AdL.,$54.0k,$24.6k,45.6%,$29.4k,54.4%,2009
338,338,Teza,Myph,$36.1k,$30.1k,83.3%,$6.0k,16.7%,2009
339,339,Pontypool,IFC,$32.1k,$3.9k,12.0%,$28.3k,88.0%,2009
340,340,Desbocados,Slow,$30.0k,$27.9k,92.9%,$2.1k,7.1%,2009
341,341,Endgame,Mont.,$26.3k,$9.6k,36.7%,$16.6k,63.3%,2009
342,342,Laila's Birthday,Kino,$20.5k,$13.7k,66.6%,$6.9k,33.4%,2009
343,343,Daddy Cool,AdL.,$19.1k,$14.3k,75.1%,$4.8k,24.9%,2009
344,344,Home (2009 drama),Mont.,$18.1k,$10.4k,57.5%,$7.7k,42.5%,2009
345,345,Defamation,FRun,$17.3k,$12.0k,69.5%,$5.3k,30.5%,2009
346,346,Chelsea on the Rocks,Aliq.,$15.1k,$11.8k,77.9%,$3.3k,22.1%,2009

In [110]:
from requests import get
from bs4 import BeautifulSoup
url = 'https://www.imdb.com/search/title?title_type=feature&release_date=2009-01-01,2018-12-31&sort=boxoffice_gross_us,desc&count=250'
response = get(url)
imdb_soup = BeautifulSoup(response.text, 'html.parser')
type(imdb_soup)

bs4.BeautifulSoup

In [111]:
movie_containers = imdb_soup.find_all('div', class_ = 'lister-item mode-advanced')
print(type(movie_containers))
print(len(movie_containers))

<class 'bs4.element.ResultSet'>
250

In [112]:
first_movie = movie_containers[0]
first_movie

<div class="lister-item mode-advanced">
<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt2488496"></div>
</div>
<div class="lister-item-image float-left">
<a href="/title/tt2488496/?ref_=adv_li_i"> <img alt="Star Wars: Episode VII - The Force Awakens" class="loadlate" data-tconst="tt2488496" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BOTAzODEzNDAzMl5BMl5BanBnXkFtZTgwMDU1MTgzNzE@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB470041630_.png" width="67"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt2488496/?ref_=adv_li_tt">Star Wars: Episode VII - The Force Awakens</a>
<span class="lister-item-year text-muted unbold">(2015)</span>
</h3>
<p class="text-muted">
<span class="certificate">PG-13</span>
<span class="ghost">|</span>
<span class="runtime">136 min</span>
<span class="ghost">|</span>
<span class="genre">
Action, Adventure, Fantasy            </span>
</p>
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" data-value="8" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>8.0</strong>
</div>
<div class="inline-block ratings-user-rating">
<span class="userRatingValue" data-tconst="tt2488496" id="urv_tt2488496">
<span class="global-sprite rating-star no-rating"></span>
<span class="rate" data-no-rating="Rate this" data-value="0" name="ur">Rate this</span>
</span>
<div class="starBarWidget" id="sb_tt2488496">
<div class="rating rating-list" data-auth="" data-ga-identifier="" data-starbar-class="rating-list" data-user="" id="tt2488496|imdb|8|8|||advsearch|title" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="Users rated this 8/10 (775,849 votes) - click stars to rate">
<meta content="8" itemprop="ratingValue"/>
<meta content="10" itemprop="bestRating"/>
<meta content="775849" itemprop="ratingCount"/>
<span class="rating-bg"> </span>
<span class="rating-imdb" style="width: 112px"> </span>
<span class="rating-stars">
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>1</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>2</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>3</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>4</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>5</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>6</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>7</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>8</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>9</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>10</span></a>
</span>
<span class="rating-rating"><span class="value">8</span><span class="grey">/</span><span class="grey">10</span></span>
<span class="rating-cancel"><a href="/title/tt2488496/vote?v=X;k=" rel="nofollow" title="Delete"><span>X</span></a></span>
 </div>
</div>
</div>
<div class="inline-block ratings-metascore">
<span class="metascore favorable">81        </span>
        Metascore
            </div>
</div>
<p class="text-muted">
    Three decades after the Empire's defeat, a new threat arises in the militant First Order. Defected stormtrooper Finn and the scavenger Rey are caught up in the Resistance's search for the missing Luke Skywalker.</p>
<p class="">
    Director:
<a href="/name/nm0009190/?ref_=adv_li_dr_0">J.J. Abrams</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm5397459/?ref_=adv_li_st_0">Daisy Ridley</a>,
<a href="/name/nm3915784/?ref_=adv_li_st_1">John Boyega</a>,
<a href="/name/nm1209966/?ref_=adv_li_st_2">Oscar Isaac</a>,
<a href="/name/nm1727304/?ref_=adv_li_st_3">Domhnall Gleeson</a>
</p>
<p class="sort-num_votes-visible">
<span class="text-muted">Votes:</span>
<span data-value="775849" name="nv">775,849</span>
<span class="ghost">|</span> <span class="text-muted">Gross:</span>
<span data-value="936,662,225" name="nv">$936.66M</span>
</p>
</div>
</div>

In [113]:
first_name = movie_containers[0].h3.a.text
first_name

'Star Wars: Episode VII - The Force Awakens'

In [114]:
first_year = first_movie.h3.find('span', class_='lister-item-year text-muted unbold')
first_year = first_year.text

In [115]:
first_score = float(first_movie.strong.text)
first_score

8.0

In [116]:
first_mscore = int(first_movie.find('span', class_='metascore favorable').text)
first_mscore

81

In [125]:
first_numvotes = first_movie.find('span', attrs = {'name': 'nv'})
first_numvotes = int(first_numvotes.text.replace(',', ''))
first_numvotes

775849

In [128]:
first_genre = first_movie.find('span', class_='genre')
first_genre = first_genre.text.strip()

In [131]:
# Lists to store the scraped data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
genres = []
for container in movie_containers:
    
        # The name
        name = container.h3.a.text
        names.append(name)
        # The year
        year = container.h3.find('span', class_ = 'lister-item-year').text
        years.append(year)
        # The IMDB rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
        # The Metascore
        m_score = container.find('span', class_ = 'metascore').text
        metascores.append(int(m_score))
        # The number of votes
        vote = container.find('span', attrs = {'name':'nv'})['data-value']
        votes.append(int(vote))
        #The genres
        genre = container.find('span', class_='genre').text.strip()
        genres.append(genre)

In [132]:
genres

['Action, Adventure, Fantasy',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Animation, Action, Adventure',
 'Action, Adventure, Sci-Fi',
 'Family, Fantasy, Musical',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Comedy',
 'Adventure, Drama, Fantasy',
 'Animation, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Adventure, Drama, Family',
 'Action, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Action, Crime, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Biography, Drama',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Animation, Action, Adventure',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Adventure, Family, Fantasy',
 'Action, Adventure, Comedy',
 'Action, Adventure, Fantasy',
 'Horror, Thriller',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Comedy',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Thriller',
 'Adventure, Family, Fantasy',
 'Adventure, Family, Fantasy',
 'Adventure, Drama, Fantasy',
 'Adventure, Drama, Fantasy',
 'Adventure, Fantasy, Mystery',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Adventure, Drama, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Adventure, Drama, Fantasy',
 'Comedy',
 'Drama, Sci-Fi, Thriller',
 'Animation, Comedy, Family',
 'Animation, Comedy, Family',
 'Animation, Adventure, Comedy',
 'Animation, Action, Adventure',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Adventure, Fantasy',
 'Animation, Action, Adventure',
 'Action, Adventure, Sci-Fi',
 'Biography, Drama, Sport',
 'Adventure, Fantasy',
 'Comedy, Mystery',
 'Animation, Comedy, Family',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Family',
 'Action, Adventure, Fantasy',
 'Action, Crime, Thriller',
 'Animation, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Adventure, Family, Fantasy',
 'Adventure, Family, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Adventure, Drama, Sci-Fi',
 'Action, Drama, Sci-Fi',
 'Action, Crime, Thriller',
 'Animation, Action, Adventure',
 'Action, Adventure, Thriller',
 'Animation, Comedy, Family',
 'Comedy, Fantasy',
 'Animation, Action, Adventure',
 'Action, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Biography, Drama, Music',
 'Drama, Music, Romance',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Fantasy',
 'Action, Sci-Fi, Thriller',
 'Action, Crime, Thriller',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Thriller',
 'Action, Adventure, Crime',
 'Action, Adventure, Drama',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Horror',
 'Drama, Family, Fantasy',
 'Animation, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Thriller',
 'Animation, Action, Adventure',
 'Animation, Action, Adventure',
 'Action, Adventure, Thriller',
 'Action, Comedy, Crime',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Comedy',
 'Animation, Action, Adventure',
 'Animation, Adventure, Comedy',
 'Action, Drama, History',
 'Drama, Horror, Mystery',
 'Adventure, Drama, Sci-Fi',
 'Animation, Action, Adventure',
 'Action, Adventure, Crime',
 'Comedy, Music',
 'Action, Adventure, Biography',
 'Biography, Drama, History',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Adventure, Comedy, Family',
 'Animation, Action, Adventure',
 'Action, Drama, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Drama, Family',
 'Horror, Mystery, Thriller',
 'Animation, Action, Comedy',
 'Animation, Adventure, Comedy',
 'Comedy, Romance',
 'Biography, Drama, Musical',
 'Action, Adventure, Fantasy',
 'Action, Adventure, Fantasy',
 'Comedy, Family, Fantasy',
 'Adventure, Drama, Western',
 'Drama',
 'Animation, Comedy, Family',
 'Biography, Drama, History',
 'Comedy, Romance',
 'Action, Adventure, Fantasy',
 'Drama, Mystery, Thriller',
 'Animation, Adventure, Comedy',
 'Drama, Romance, Thriller',
 'Action, Adventure, Sci-Fi',
 'Animation, Action, Adventure',
 'Comedy, Drama, Romance',
 'Action, Adventure, Fantasy',
 'Animation, Adventure, Comedy',
 'Drama, Western',
 'Action, Thriller',
 'Comedy',
 'Animation, Adventure, Comedy',
 'Biography, Drama, History',
 'Action, Comedy, Crime',
 'Adventure, Family, Fantasy',
 'Horror, Thriller',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Sci-Fi',
 'Action, Adventure, Drama',
 'Action, Adventure, Drama',
 'Action, Crime, Thriller',
 'Action, Adventure, Sci-Fi',
 'Animation, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Comedy, Drama, Music',
 'Action, Adventure, Mystery',
 'Comedy, Crime',
 'Comedy',
 'Comedy',
 'Crime, Drama',
 'Animation, Action, Adventure',
 'Drama, History, Musical',
 'Animation, Action, Comedy',
 'Comedy, Romance',
 'Animation, Comedy, Family',
 'Action, Adventure, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Horror, Sci-Fi',
 'Drama, Romance',
 'Animation, Adventure, Comedy',
 'Animation, Action, Adventure',
 'Animation, Adventure, Comedy',
 'Action, Thriller',
 'Action, Comedy, Crime',
 'Biography, Drama, History',
 'Action, Comedy, Crime',
 'Horror, Thriller',
 'Animation, Drama, Family',
 'Action, Adventure, Sci-Fi',
 'Horror, Mystery, Thriller',
 'Biography, Drama, Thriller',
 'Action, Comedy, Crime',
 'Adventure, Comedy, Crime',
 'Comedy',
 'Mystery, Thriller',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Drama, Family',
 'Comedy, Drama, Romance',
 'Action, Adventure, Family',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Animation, Comedy, Drama',
 'Action, Adventure, Sci-Fi',
 'Action, Comedy, Fantasy',
 'Action, Adventure, Comedy',
 'Mystery, Thriller',
 'Adventure, Comedy, Drama',
 'Action, Comedy, Crime',
 'Comedy',
 'Action, Adventure, Sci-Fi',
 'Mystery, Sci-Fi, Thriller',
 'Action, Sci-Fi, Thriller',
 'Action, Adventure, Drama',
 'Adventure, Mystery, Sci-Fi',
 'Action, Adventure, Crime',
 'Action, Adventure, Sci-Fi',
 'Action, Biography, Drama',
 'Biography, Drama',
 'Drama, Romance',
 'Adventure, Drama, Fantasy',
 'Drama, Romance',
 'Animation, Action, Adventure',
 'Animation, Adventure, Comedy',
 'Animation, Adventure, Comedy',
 'Action, Adventure, Sci-Fi',
 'Comedy, Musical, Romance',
 'Adventure, Drama, War',
 'Animation, Action, Adventure',
 'Animation, Action, Adventure',
 'Action, Comedy, Crime',
 'Action, Mystery, Thriller',
 'Crime, Mystery, Thriller',
 'Comedy, Crime',
 'Horror, Mystery, Thriller']